@import 'Variables';

.about {
  background: $dark-grey 50%;
  height: 100%;
}

.about-title {
  font-family: $main-font;
  letter-spacing: 1em;
  padding-left: 1em;
  color: $whiteish;
}

.about-text {
  background: $whiteish;
  box-shadow: 5px 10px $lime-green;
  padding: 6px;
}

.about-paragraphs p:nth-child(odd) {
  text-align: right;
  margin-left: 10px;
}

.about-paragraphs p:nth-child(even) {
  text-align: left;
  margin-right: 10px;
}
