.about {
  background: linear-gradient(to left, white 50%, pink 50%);
  height: 100%;
}

.about-header {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  letter-spacing: 0em;
  background: white;
  box-shadow: 5px 10px #888888;
  padding: 6px;
}

.about-paragraphs p:nth-child(odd) {
  text-align: right;
  margin-left: 10px;
}

.about-paragraphs p:nth-child(even) {
  text-align: left;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  .about {
    background: linear-gradient(to top, white 50%, pink 50%);
  }
  .about-header {
    height: 50vh;
  }
  .about-text {
    text-align: left !important;
  }
  .about-skills {
    height: 50vh;
  }
}
