.about {
  background: linear-gradient(to left, white 50%, #ef5350 50%);
  height: 100%;
}

.about-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1em;
  color: white;
}

.about-text {
  letter-spacing: 0em;
  background: white;
  box-shadow: 5px 10px #888888;
  padding: 6px;
}

.about-paragraphs p:nth-child(odd) {
  text-align: right;
  margin-left: 10px;
}

.about-paragraphs p:nth-child(even) {
  text-align: left;
  margin-right: 10px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}

.flex-item {
  margin: 5px;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  max-height: 209px;
  max-width: 209px;
}

.flex-item:before {
  content: '';
  float: left;
  padding-top: 100%;
}

@media only screen and (max-width: 767px) {
  .about {
    background: linear-gradient(to top, white 50%, pink 50%);
  }
  .about-header {
    height: 50vh;
  }
  .about-text {
    text-align: left !important;
  }
  .about-skills {
    height: 50vh;
  }
}
