.contact {
  background: #78ab46;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.contact-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1em;
  color: #f0ffff;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 10px;
  text-align: center;
  flex-wrap: wrap;
}

.social-link {
  font-size: 100px;
}
