@import 'Variables';

@keyframes bounce-down {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-up {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(10px);
  }
}

@keyframes bounce-left {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(10px);
  }
}

@keyframes bounce-right {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(-10px);
  }
}

.upArrow {
  animation: bounce-up 2s infinite;
}

.downArrow {
  animation: bounce-down 2s infinite;
}

.leftArrow {
  animation: bounce-left 2s infinite;
}

.rightArrow {
  animation: bounce-right 2s infinite;
}

.upArrow,
.downArrow {
  height: 30px;
  width: 50px;
}
.leftArrow,
.rightArrow {
  height: 50px;
  width: 30px;
}

@media only screen and (max-width: 768px) {
  .upArrow,
  .downArrow {
    width: 25px;
    height: 15px;
  }

  .leftArrow,
  .rightArrow {
    width: 15px;
    height: 25px;
  }
}

.fa-address-card {
  font-size: 36px;
  color: $lime-green;
}

.fa-home {
  font-size: 36px;
  color: $whiteish;
}
