@import 'Variables';

.skills {
  background: $vanilla-grey;
  height: 100%;
}

.skills-title {
  font-family: $main-font;
  letter-spacing: 1em;
  padding-left: 1em;
  color: $dark-grey;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  line-height: 30px;
}

.flex-item {
  margin: 5px;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
  max-height: 150px;
  max-width: 150px;
}

.flex-item:before {
  content: '';
  float: left;
  padding-top: 100%;
}
