html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

// Primary colors
$dark-green: #3b5323;
$medium-green: #4a7023;
$light-green: #78ab46;
$whiteish: #f0ffff;

// Primary font
$main-font: 'Montserrat';
