.work {
  background: #78ab46;
  height: 100%;
}

.work-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1em;
  color: #f0ffff;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 10px;
}
